<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <th th:text="${author.id}">Id</th>
        <th th:text="${author.firstName}">First name</th>
        <th th:text="${author.lastName}">Last name</th>
    </tr>
</table>

</body>
</html>